APP_NAME=Glaucoma OCT AI Platform
APP_VERSION=1.0.0
DEBUG=false

HOST=0.0.0.0
PORT=8000

MAX_UPLOAD_SIZE=524288000
ALLOWED_EXTENSIONS='[".nii", ".nii.gz", ".mha", ".mhd"]'

MODEL_NAME=resnet3d_18
MODEL_PATH=./data/models/resnet3d_rnfl_segmentation.pth
DEVICE=auto
PRECISION=fp32

INPUT_VOLUME_SIZE='[128, 128, 64]'
NUM_CLASSES=2
IN_CHANNELS=1

RNFL_NORMAL_THICKNESS_MIN=80.0
RNFL_NORMAL_THICKNESS_MAX=120.0
RNFL_THICKNESS_WARNING_THRESHOLD=70.0
RNFL_THICKNESS_DANGER_THRESHOLD=50.0
